.Whole-Gallery-Container > h2 {
    text-align: left;
    padding: 0% 5% 0% 5%; 
    
}

.Whole-Gallery-Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.gallery-container {
    background-color: rgba(35, 57, 39,0.8);
    border-radius: 31.4px;
    padding: 1%;
    box-shadow: 2px 2px 5px black;
    
}


.gallery-container a > img {
    height: 22vh;
    width: 22vh;
    border-radius: 15%;
    padding: 2vh;
    object-fit: cover;
}
