.FeaturedCard-Container {
    display: flex;
    width: 50%;
    background-color: #233927;
    border-radius: 31.4px;
    padding: 2%;
    box-shadow: 2px 2px 5px black;
}

.FeaturedCard-innerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 5%;
}

.FeaturedCard-innerContainer > h2 { 
    padding-left: 0px;
}

.FeaturedCard-innerContainer > img { 
    padding: 5% 5% 0% 0%;
    height: 5vh;
}
.FeaturedCard-innerContainer > button { 
    border-radius: 54.05px;
    padding: 2% 7%;
}

.FeaturedCard-innerContainer > p { 
    font-size: 1.1rem;
    text-align: left;
}