.profile-container img {
    margin-top: 0%;
    border-radius: 50%;
    width: 10rem;
}

.profile-container h1 {
  font-size: 2rem;
}

.metrics h2 {
    font-size: 1.5rem;
}


.saved-list-container {
    width: 70%;
    margin-top: 0px;
    background-color: rgba(35, 57, 39,0.8);
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0 auto;
    max-height: 525px;
    overflow-y: auto; 
}

.saved-list-container::-webkit-scrollbar {
width: 0px; /* Hide the scrollbar */
background: transparent; /* Optional: Transparent background */
}

.saved-list-container {
    margin-top: 0.3%;
    /* background-color: rgba(35, 57, 39,0.8); */
    /* padding: 10px 300px; */
    /* border-radius: 50px; */
}