.profile-container img {
    margin-top: 0%;
    border-radius: 50%;
    width: 10rem;
}

.profile-container h1 {
  font-size: 2rem;
}

.metrics h2 {
    font-size: 1.5rem;
}

.metrics {
    background-color: rgba(35, 57, 39,0.8);
    padding: 10px 300px;
    border-radius: 50px;
}

.metrics ul {
    list-style: none;
}

.saved-list-container {
    margin-top: 1%;
    background-color: rgba(35, 57, 39,0.8);
    padding: 10px 300px;
    border-radius: 50px;
}

.saved-list-container {
    margin-top: 2%;
    background-color: rgba(35, 57, 39,0.8);
    padding: 10px 300px;
    border-radius: 50px;
}