.location-modal-container{
 overflow: auto;
 scrollbar-width: none;
 color: #000000;
 
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
  gap: 1%;
}

.location-modal-container::-webkit-scrollbar{
  display: none; 
  
 }

 .bold-text {
  font-weight: 500;
 }
  
  .recommend-button {
    /* margin-left: 1%; */
  }

  .location-modal-container .responseMess {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
  }