.homepage-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    
    
}

.homepage-tags-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2%;
}

.featured-card {
    position: absolute; /* Fixes the position within the parent */
    top: 10%; /* Adjust based on your layout needs */
    left: 7%; /* Adjust based on your layout needs */
    width: 30%; /* Set a fixed width */
    height: 20%; /* Set a fixed height */
}

.homepage-gallery-container {
    position: absolute; /* Fixes the position within the parent */
    bottom: 25%; /* Adjust based on your layout needs */
    left: 7%; /* Adjust based on your layout needs */
    width: 60%; 
    height: 20%;
}