.homepage-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    
}

.homepage-tags-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2%;
}

.gallery-Gallery {
    padding-left: 5%;
}