.tags-container {
    background-color: #233927;
    border-radius: 31.4px;
    padding: 1%;
    box-shadow: 2px 2px 5px black;
}

.tags-container > h2 {
  text-align: left;
  padding-left: 9%;
}

.tags-container > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}

.tags-container > ul > li{
    padding: 2% 4%;
    margin: 2%;
    list-style: none;
    border-radius: 10.48px;
}

.tags-container > ul > li > a{
   color: white;
}


.Nature {
    background-color: #118F25;

}

.Hiking {
    background-color: #551CCD;
}

.Active {
    background-color: #CB4242;
}


.Things.To.Do {
    background-color: #F06B41;
}